<template>
<div class="alert-index-table" :class="containerClass">
    <table class="table table-striped table-condensed alert-table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" v-model="selectAll">
                </th>
                <th>Type</th>
                <th>Application</th>
                <th>Description</th>
                <th>Actioned</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody v-if="hasItems">
            <tr v-for="item in items">
                <td>
                    <input type="checkbox" v-model="selected" :value="item.id" number>
                </td>
                <td class="nowrap">{{ item.alert_type }}</td>
                <td>
                    <a :href="url(item.application_id)">
                        {{ item.application }}
                    </a>
                </td>
                <td>{{ item.description }}</td>
                <td>
                    <span class="label label-danger" v-if="item.is_actioned == 0">
                        Unactioned
                    </span>
                </td>
                <td class="nowrap">{{ item.created_at }}</td>
            </tr>
        </tbody>
        <tbody v-if="!hasItems && processing">
            <tr>
                <td colspan="6" class="text-center">
                    <span class="fa fa-cog fa-spin"></span>
                </td>
            </tr>
        </tbody>
        <tbody v-if="!hasItems && !processing">
            <tr>
                <td colspan="6">
                    No results found.
                </td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
export default {
    props: ['items', 'processing'],
    data() {
        return {
            selected: []
        }
    },
    methods: {
        url(id) {
            return window.Laravel.baseUrl + '/admin/applications/' + id
        }
    },
    computed: {
        containerClass() {
            return this.processing ? 'processing' : ''
        },
        selectAll: {
            get: function () {
                return this.items !== undefined && this.items.length > 1 ? this.selected !== undefined && this.selected.length == this.items.length : false;
            },
            set: function (value) {
                var selected = [];

                if (this.items !== undefined && value) {
                    _.forEach(this.items, function (item) {
                        selected.push(item.id);
                    });
                }

                this.selected = selected;
            }
        },
        hasItems() {
            return this.items !== undefined && this.items.length > 0
        }
    },
    watch: {
        selected(newValue) {
            this.$emit('selected', this.selected)
        },
        items(newValue) {
            this.selected = []
        }
    }
}
</script>
