<template>
<div class="alert-index-actions index-actions">
    <p>With selected:</p>
    <button class="btn btn-default" :disabled="disableAction" @click.prevent="markAsActioned">
        <span class="fa fa-plus-circle"></span> Mark as Actioned
    </button>
    <button class="btn btn-default" :disabled="disableAction" @click.prevent="markAsUnactioned">
        <span class="fa fa-minus-circle"></span> Mark as Unactioned
    </button>
</div>
</template>

<script>
export default {
    props: ['selected', 'processing'],
    data() {
        return {}
    },
    methods: {
        markAsActioned() {
            this.$emit('markAsActioned', this.selected)
        },
        markAsUnactioned() {
            this.$emit('markAsUnactioned', this.selected)
        },
    },
    computed: {
        disableAction() {
            return this.selected.length == 0 || this.processing
        }
    }
}
</script>
