<template>
<div class="alert-index">
    <alert-index-search
        :processing="processing"
        :default-search="defaultSearch"
        @search="fetchAlerts">
    </alert-index-search>
    <alert-index-table
        :items="items"
        :processing="processing"
        @selected="updateSelected">
    </alert-index-table>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <alert-index-actions
                :processing="processing"
                :selected="selected"
                @markAsActioned="bulkActionMarkAsActioned"
                @markAsUnactioned="bulkActionMarkAsUnactioned">
            </alert-index-actions>
        </div>
        <div class="col-sm-6 text-right">
            <pagination
                :current-page="paginationData.currentPage"
                :items-per-page="paginationData.itemsPerPage"
                :total-pages="paginationData.totalPages"
                :processing="processing"
                @goto-page="gotoPage">
            </pagination>
        </div>
    </div>
</div>
</template>

<script>
const AlertIndexActions = require('./AlertIndexActions.vue')
const AlertIndexSearch = require('./AlertIndexSearch.vue')
const AlertIndexTable = require('./AlertIndexTable.vue')
const Pagination = require('./Pagination.vue')

export default {
    props: ['search'],
    components: {
        'alert-index-actions': AlertIndexActions,
        'alert-index-search': AlertIndexSearch,
        'alert-index-table': AlertIndexTable,
        'pagination': Pagination
    },
    data() {
        return {
            items: [],
            processing: false,
            paginationData: this.resetPaginationData(),
            searchData: {},
            selected: []
        }
    },
    methods: {
        assignPaginationDataFromResponse(response) {
            this.paginationData = this.resetPaginationData()
            this.paginationData.currentPage = Number(response.body.current_page)
            this.paginationData.itemsFrom = Number(response.body.from)
            this.paginationData.itemsTo = Number(response.body.to)
            this.paginationData.itemsPerPage = Number(response.body.per_page)
            this.paginationData.totalItems = Number(response.body.total)
            this.paginationData.totalPages = Number(response.body.last_page)
        },
        bulkActionMarkAsActioned(items) {
            var data = {
                isActioned: true,
                items: items
            }
            var params = _.assign(window.Laravel.apiAuth, data)

            this.bulkActionProcess('api/alerts/actioned', params)
        },
        bulkActionMarkAsUnactioned(items) {
            var data = {
                isActioned: false,
                items: items
            }
            var params = _.assign(window.Laravel.apiAuth, data)

            this.bulkActionProcess('api/alerts/actioned', params)
        },
        bulkActionProcess(url, data) {
            this.processing = true

            Vue.http.post(url, data).then(
                response => {
                    this.fetchAlerts(this.searchData)
                },
                response => {
                    this.processing = false
                }
            )
        },
        fetchAlerts(searchObject, pageNumber) {
            var search = (searchObject === undefined ? {} : searchObject)

            search.page = (pageNumber === undefined ? 1 : pageNumber)
            this.searchData = search
            this.processing = true

            var params = _.assign(window.Laravel.apiAuth, search)

            Vue.http.get('api/alerts', {params:params}).then(
                response => {
                    this.items = response.body.data
                    this.processing = false
                    this.assignPaginationDataFromResponse(response)
                },
                response => {
                    this.processing = false
                }
            )
        },
        gotoPage(page) {
            this.fetchAlerts(this.searchData, page)
        },
        resetPaginationData() {
            return {
                currentPage: 1,
                itemsFrom: 1,
                itemsTo: 1,
                itemsPerPage: 1,
                totalItems: 1,
                totalPages: 1
            }
        },
        updateSelected(selected) {
            this.selected = selected
        }
    },
    computed: {
        defaultSearch() {
            if (this.search === undefined || typeof this.search !== 'object') {
                return {}
            }

            return this.search
        }
    }
}
</script>
