<template>
<div class="alert-index-search">
    <div v-if="showSearch">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" v-model="search.application" class="form-control" placeholder="Application">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" v-model="search.description" class="form-control" placeholder="Description">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <select v-model="search.alertType" class="form-control">
                        <option v-if="alertTypes.length > 1" value="">All Types</option>
                        <option v-for="type in alertTypes" v-bind:value="type.id">
                            {{ type.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select v-model="search.isActioned" class="form-control">
                        <option value="">Ignore Actioned</option>
                        <option value="1">Only Actioned</option>
                        <option value="0">Only Unactioned</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select v-model="search.createdDirection" class="form-control">
                                <option value="LESS">Created before</option>
                                <option value="MORE">Created after</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" v-model="search.created" placeholder="YYYY-MM-DD" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-default" v-on:click="toggleSearch">
                {{ showSearch ? "Hide" : "Show" }} Search
            </div>
        </div>
        <div v-if="showSearch">
            <div class="col-xs-6 text-right">
                <div class="btn btn-primary" :disabled="processing" v-on:click="submitSearch">
                    Search
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
</template>

<script>
export default {
    props: ['defaultSearch', 'processing'],
    data() {
        var originalSearch = {
            application: "",
            alertType: "",
            description: "",
            isActioned: "",
            created: "",
            createdDirection: "MORE",
        }

        return {
            search: _.defaults(this.defaultSearch, originalSearch),
            showSearch: false,
            alertTypes: []
        }
    },
    mounted() {
        this.fetchAlertTypes()
        this.submitSearch()
    },
    methods: {
        fetchAlertTypes() {
            var params = window.Laravel.apiAuth
            Vue.http.get('api/alert-types/list', {params: params}).then(
                response => {
                    this.alertTypes = response.body.data
                },
                response => {
                    this.alertTypes = []
                }
            )
        },
        submitSearch() {
            this.$emit('search', this.search)
        },
        toggleSearch() {
            if (this.showSearch === true) {
                this.showSearch = false
            } else {
                this.showSearch = true
            }
        },
    }
}
</script>
