<template>
<div class="application-index-search">
    <div v-if="showSearch">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="text" v-model="search.name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <select v-model="search.blacklisted" class="form-control">
                        <option value="0">Exclude Blacklisted</option>
                        <option value="1">Include Blacklisted</option>
                        <option value="2">Only Blacklisted</option>
                    </select>
                </div>
                <div class="form-group">
                    <select v-model="search.trashed" class="form-control">
                        <option value="0">Exclude Deleted</option>
                        <option value="1">Include Deleted</option>
                        <option value="2">Only Deleted</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select v-model="search.store" class="form-control">
                        <option v-if="stores.length > 1" value="">All Stores</option>
                        <option v-for="store in stores" v-bind:value="store.id">
                            {{ store.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <select v-model="search.category" class="form-control">
                        <option value="">All Categories</option>
                        <optgroup v-for="store in stores" v-bind:label="store.name">
                            <option v-for="(name, id) in store.categories" v-bind:value="id">
                                {{ name }}
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select v-model="search.ratingDirection" class="form-control">
                                <option value="LESS">Rated under</option>
                                <option value="MORE">Rated over</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" v-model="search.rating" placeholder="3.5" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select v-model="search.updatedDirection" class="form-control">
                                <option value="LESS">Updated before</option>
                                <option value="MORE">Updated after</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" v-model="search.updated" placeholder="YYYY-MM-DD" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select v-model="search.priorityDirection" class="form-control">
                                <option value="MORE">Priority over</option>
                                <option value="LESS">Priority under</option>
                                <option value="NONE">No Priority</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" v-model="search.priority" placeholder="3" class="form-control" :disabled="!enableSearchPriority">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-default" v-on:click="toggleSearch">
                {{ showSearch ? "Hide" : "Show" }} Search
            </div>
        </div>
        <div v-if="showSearch">
            <div class="col-xs-6 text-right">
                <div class="btn btn-primary" :disabled="processing" v-on:click="submitSearch">
                    Search
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
</template>

<script>
export default {
    props: ['defaultSearch', 'processing'],
    data() {
        var originalSearch = {
            name: "",
            store: "",
            category: "",
            blacklisted: 0,
            trashed: 0,
            developer: "",
            rating: "",
            ratingDirection: "LESS",
            updated: "",
            updatedDirection: "MORE",
            priority: "",
            priorityDirection: "LESS"
        }

        return {
            search: _.defaults(this.defaultSearch, originalSearch),
            showSearch: false,
            stores: []
        }
    },
    mounted() {
        this.fetchStores()
        this.submitSearch()
    },
    methods: {
        fetchStores() {
            var params = window.Laravel.apiAuth
            Vue.http.get('api/stores/list', {params: params}).then(
                response => {
                    this.stores = response.body.data
                    this.updateSearchStoreAfterFetch()
                },
                response => {
                    this.stores = []
                    this.updateSearchStoreAfterFetch()
                }
            )
        },
        submitSearch() {
            this.$emit('search', this.search)
        },
        toggleSearch() {
            if (this.showSearch === true) {
                this.showSearch = false
            } else {
                this.showSearch = true
            }
        },
        updateSearchStoreAfterFetch() {
            if (this.stores.length == 0) {
                this.search.store = ""
            } else if (this.stores.length == 1 && this.stores[0] !== undefined) {
                this.search.store = this.stores[0].id
            }
        }
    },
    computed: {
        enableSearchPriority() {
            return this.search !== undefined && this.search.priorityDirection !== undefined && this.search.priorityDirection !== "NONE"
        }
    }
}
</script>
