<template>
<div class="application-index-table" :class="containerClass">
    <table class="table table-striped table-condensed application-table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" v-model="selectAll">
                </th>
                <th>Name</th>
                <th>Store</th>
                <th>Rating</th>
                <th>Priority</th>
                <th>Version</th>
                <th>Updated</th>
                <th>Refreshed</th>
            </tr>
        </thead>
        <tbody v-if="hasItems">
            <tr v-for="item in items">
                <td>
                    <input type="checkbox" v-model="selected" :value="item.id" number>
                </td>
                <td>
                    <a :href="url(item.id)">
                        {{ item.name }}
                    </a>
                    &nbsp;
                    <span class="label label-danger" v-if="item.blacklisted_at">
                        Blacklisted
                    </span>
                    <span class="label label-default" v-if="item.deleted_at">
                        Deleted
                    </span>
                </td>
                <td class="nowrap">{{ item.store }}</td>
                <td>{{ item.rating }}</td>
                <td>{{ item.priority }}</td>
                <td>{{ item.version }}</td>
                <td>{{ item.updated_at }}</td>
                <td>{{ item.refreshed_at }}</td>
            </tr>
        </tbody>
        <tbody v-if="!hasItems && processing">
            <tr>
                <td colspan="8" class="text-center">
                    <span class="fa fa-cog fa-spin"></span>
                </td>
            </tr>
        </tbody>
        <tbody v-if="!hasItems && !processing">
            <tr>
                <td colspan="8">
                    No results found.
                </td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
export default {
    props: ['items', 'processing'],
    data() {
        return {
            selected: []
        }
    },
    methods: {
        url(id) {
            return window.Laravel.baseUrl + '/admin/applications/' + id
        }
    },
    computed: {
        containerClass() {
            return this.processing ? 'processing' : ''
        },
        selectAll: {
            get: function () {
                return this.items !== undefined && this.items.length > 1 ? this.selected !== undefined && this.selected.length == this.items.length : false;
            },
            set: function (value) {
                var selected = [];

                if (this.items !== undefined && value) {
                    _.forEach(this.items, function (item) {
                        selected.push(item.id);
                    });
                }

                this.selected = selected;
            }
        },
        hasItems() {
            return this.items !== undefined && this.items.length > 0
        }
    },
    watch: {
        selected(newValue) {
            this.$emit('selected', this.selected)
        },
        items(newValue) {
            this.selected = []
        }
    }
}
</script>
