<template>
<div class="application-index">
    <application-index-search
        :processing="processing"
        :default-search="defaultSearch"
        @search="fetchApplications">
    </application-index-search>
    <application-index-table
        :items="items"
        :processing="processing"
        @selected="updateSelected">
    </application-index-table>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <application-index-actions
                :processing="processing"
                :selected="selected"
                @addBlacklist="bulkActionAddBlacklist"
                @removeBlacklist="bulkActionRemoveBlacklist"
                @updatePriority="bulkActionUpdatePriority">
            </application-index-actions>
        </div>
        <div class="col-sm-6 text-right">
            <pagination
                :current-page="paginationData.currentPage"
                :items-per-page="paginationData.itemsPerPage"
                :total-pages="paginationData.totalPages"
                :processing="processing"
                @goto-page="gotoPage">
            </pagination>
        </div>
    </div>
</div>
</template>

<script>
const ApplicationIndexActions = require('./ApplicationIndexActions.vue')
const ApplicationIndexSearch = require('./ApplicationIndexSearch.vue')
const ApplicationIndexTable = require('./ApplicationIndexTable.vue')
const Pagination = require('./Pagination.vue')

export default {
    props: ['search'],
    components: {
        'application-index-actions': ApplicationIndexActions,
        'application-index-search': ApplicationIndexSearch,
        'application-index-table': ApplicationIndexTable,
        'pagination': Pagination
    },
    data() {
        return {
            items: [],
            processing: false,
            paginationData: this.resetPaginationData(),
            searchData: {},
            selected: []
        }
    },
    methods: {
        assignPaginationDataFromResponse(response) {
            this.paginationData = this.resetPaginationData()
            this.paginationData.currentPage = Number(response.body.current_page)
            this.paginationData.itemsFrom = Number(response.body.from)
            this.paginationData.itemsTo = Number(response.body.to)
            this.paginationData.itemsPerPage = Number(response.body.per_page)
            this.paginationData.totalItems = Number(response.body.total)
            this.paginationData.totalPages = Number(response.body.last_page)
        },
        bulkActionAddBlacklist(items) {
            var data = {
                type: 'APPLICATION',
                items: items
            }
            var params = _.assign(window.Laravel.apiAuth, data);

            this.bulkActionProcess('api/blacklist/add', params)
        },
        bulkActionRemoveBlacklist(items) {
            var data = {
                type: 'APPLICATION',
                items: items
            }
            var params = _.assign(window.Laravel.apiAuth, data)

            this.bulkActionProcess('api/blacklist/remove', params)
        },
        bulkActionUpdatePriority(priority, items) {
            var data = {
                priority: priority,
                items: items
            }
            var params = _.assign(window.Laravel.apiAuth, data)

            this.bulkActionProcess('api/applications/priority', params)
        },
        bulkActionProcess(url, data) {
            this.processing = true

            Vue.http.post(url, data).then(
                response => {
                    this.fetchApplications(this.searchData)
                },
                response => {
                    this.processing = false
                }
            )
        },
        fetchApplications(searchObject, pageNumber) {
            var search = (searchObject === undefined ? {} : searchObject)

            search.page = (pageNumber === undefined ? 1 : pageNumber)
            this.searchData = search
            this.processing = true

            var params = _.assign(window.Laravel.apiAuth, search)

            Vue.http.get('api/applications', {params:params}).then(
                response => {
                    this.items = response.body.data
                    this.processing = false
                    this.assignPaginationDataFromResponse(response)
                },
                response => {
                    this.processing = false
                }
            )
        },
        gotoPage(page) {
            this.fetchApplications(this.searchData, page)
        },
        resetPaginationData() {
            return {
                currentPage: 1,
                itemsFrom: 1,
                itemsTo: 1,
                itemsPerPage: 1,
                totalItems: 1,
                totalPages: 1
            }
        },
        updateSelected(selected) {
            this.selected = selected
        }
    },
    computed: {
        defaultSearch() {
            if (this.search === undefined || typeof this.search !== 'object') {
                return {}
            }

            return this.search
        }
    }
}
</script>
