<template>
<select v-model="priority" class="form-control" :disabled="disabled">
    <option value="">Assign Priority</option>
    <option v-for="(value, key) in items" :value="key">{{ value }}</option>
</select>
</template>

<script>
export default {
    props: ['disabled', 'processing'],
    data() {
        return {
            priority: "",
            items: []
        }
    },
    mounted() {
        this.fetchPriorities()
    },
    methods: {
        fetchPriorities() {
            var params = window.Laravel.apiAuth
            Vue.http.get('api/applications/priorities', {params:params}).then(
                response => {
                    this.items = response.body.data
                },
                response => {
                    this.items = []
                }
            )
        },
    },
    watch: {
        priority: function (newValue) {
            if (this.priority !== "") {
                this.$emit('updatePriority', newValue)
            }

            this.priority = ""
        }
    }
}
</script>
