<template>
<div class="application-index-actions index-actions">
    <p>With selected:</p>
    <button class="btn btn-default" :disabled="disableAction" @click.prevent="addBlacklist">
        <span class="fa fa-plus-circle"></span> Blacklist
    </button>
    <button class="btn btn-default" :disabled="disableAction" @click.prevent="removeBlacklist">
        <span class="fa fa-minus-circle"></span> Blacklist
    </button>
    <application-priority
        :processing="processing"
        :disabled="disableAction"
        @updatePriority="updatePriority">
    </application-priority>
</div>
</template>

<script>
const ApplicationPriority = require('./ApplicationPriority.vue')

export default {
    components: {
        'application-priority': ApplicationPriority
    },
    props: ['selected', 'processing'],
    data() {
        return {}
    },
    methods: {
        addBlacklist() {
            this.$emit('addBlacklist', this.selected)
        },
        removeBlacklist() {
            this.$emit('removeBlacklist', this.selected)
        },
        updatePriority(priority) {
            this.$emit('updatePriority', priority, this.selected)
        }
    },
    computed: {
        disableAction() {
            return this.selected.length == 0 || this.processing
        }
    }
}
</script>
