<template>
<div class="developer-index-search">
    <hr/>
    <div v-if="showSearch">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="text" v-model="search.name" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select v-model="search.store" class="form-control">
                        <option value="">All Stores</option>
                        <option v-for="store in stores" v-bind:value="store.id">
                            {{ store.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select v-model="search.blacklisted" class="form-control">
                        <option value="0">Exclude Blacklisted</option>
                        <option value="1">Include Blacklisted</option>
                        <option value="2">Only Blacklisted</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btn btn-default" v-on:click="toggleSearch">
                {{ showSearch ? "Hide" : "Show" }} Search
            </div>
        </div>
        <div v-if="showSearch">
            <div class="col-xs-6 text-right">
                <div class="btn btn-primary" :disabled="processing" v-on:click="submitSearch">
                    Search
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
</template>

<script>
export default {
    props: ['stores', 'processing'],
    data() {
        return {
            search: {
                name: "",
                store: "",
                blacklisted: 0,
            },
            showSearch: false
        }
    },
    methods: {
        submitSearch() {
            this.$emit('search', this.search)
        },
        toggleSearch() {
            if (this.showSearch === true) {
                this.showSearch = false
            } else {
                this.showSearch = true
            }
        }
    }
}
</script>
