<template>
<div class="developer-index">
    <developer-index-search
        :processing="processing"
        :stores="stores"
        @search="fetchDevelopers">
    </developer-index-search>
    <developer-index-table
        :items="items"
        :processing="processing"
        @selected="updateSelected">
    </developer-index-table>
    <hr/>
    <div class="row">
        <div class="col-sm-6">
            <developer-index-actions
                :processing="processing"
                :selected="selected"
                @addBlacklist="bulkActionAddBlacklist"
                @removeBlacklist="bulkActionRemoveBlacklist">
            </developer-index-actions>
        </div>
        <div class="col-sm-6 text-right">
            <pagination
                :current-page="paginationData.currentPage"
                :items-per-page="paginationData.itemsPerPage"
                :total-pages="paginationData.totalPages"
                :processing="processing"
                @goto-page="gotoPage">
            </pagination>
        </div>
    </div>
</div>
</template>

<script>
const DeveloperIndexActions = require('./DeveloperIndexActions.vue')
const DeveloperIndexSearch = require('./DeveloperIndexSearch.vue')
const DeveloperIndexTable = require('./DeveloperIndexTable.vue')
const Pagination = require('./Pagination.vue')

export default {
    components: {
        'developer-index-actions': DeveloperIndexActions,
        'developer-index-search': DeveloperIndexSearch,
        'developer-index-table': DeveloperIndexTable,
        'pagination': Pagination
    },
    props: ['stores'],
    data() {
        return {
            items: [],
            processing: false,
            paginationData: this.resetPaginationData(),
            searchData: {},
            selected: []
        }
    },
    mounted() {
        this.fetchDevelopers()
    },
    methods: {
        assignPaginationDataFromResponse(response) {
            this.paginationData = this.resetPaginationData()
            this.paginationData.currentPage = Number(response.body.current_page)
            this.paginationData.itemsFrom = Number(response.body.from)
            this.paginationData.itemsTo = Number(response.body.to)
            this.paginationData.itemsPerPage = Number(response.body.per_page)
            this.paginationData.totalItems = Number(response.body.total)
            this.paginationData.totalPages = Number(response.body.last_page)
        },
        bulkActionAddBlacklist(items) {
            var data = {
                type: 'DEVELOPER',
                items: items
            }
            var params = _.assign(window.Laravel.apiAuth, data);

            this.bulkActionProcess('api/blacklist/add', params)
        },
        bulkActionRemoveBlacklist(items) {
            var data = {
                type: 'DEVELOPER',
                items: items
            }
            var params = _.assign(window.Laravel.apiAuth, data)

            this.bulkActionProcess('api/blacklist/remove', params)
        },
        bulkActionProcess(url, data) {
            this.processing = true

            Vue.http.post(url, data).then(
                response => {
                    this.fetchDevelopers(this.searchData)
                },
                response => {
                    this.processing = false
                }
            )
        },
        fetchDevelopers(searchObject, pageNumber) {
            var search = (searchObject === undefined ? {} : searchObject)

            search.page = (pageNumber === undefined ? 1 : pageNumber)
            this.searchData = search
            this.processing = true

            var params = _.assign(window.Laravel.apiAuth, search)

            Vue.http.get('api/developers', {params:params}).then(
                response => {
                    this.items = response.body.data
                    this.processing = false
                    this.assignPaginationDataFromResponse(response)
                },
                response => {
                    this.processing = false
                }
            )
        },
        gotoPage(page) {
            this.fetchDevelopers(this.searchData, page)
        },
        resetPaginationData() {
            return {
                currentPage: 1,
                itemsFrom: 1,
                itemsTo: 1,
                itemsPerPage: 1,
                totalItems: 1,
                totalPages: 1
            }
        },
        updateSelected(selected) {
            this.selected = selected
        }
    }
}
</script>
