<template>
<div class="developer-index-actions index-actions">
    <p>With selected:</p>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-4">
                <button class="btn btn-block btn-default" :disabled="disableAction" @click.prevent="addBlacklist">
                    <span class="fa fa-plus-circle"></span> Blacklist
                </button>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-block btn-default" :disabled="disableAction" @click.prevent="removeBlacklist">
                    <span class="fa fa-minus-circle"></span> Blacklist
                </button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: ['selected', 'processing'],
    data() {
        return {}
    },
    methods: {
        addBlacklist() {
            this.$emit('addBlacklist', this.selected)
        },
        removeBlacklist() {
            this.$emit('removeBlacklist', this.selected)
        }
    },
    computed: {
        disableAction() {
            return this.selected.length == 0 || this.processing
        }
    }
}
</script>
