<template>
<div class="pagination-container">
  <p>Showing {{ showingFrom }} - {{ showingTo }} of {{ showingOf }} items</p>
  <div class="btn-group">
      <button type="button" class="btn btn-default"
          :disabled="processing" @click.prevent="gotoPage(1)">
          First
      </button>
      <button type="button" class="btn btn-default"
          :disabled="processing" :class="activePageClass(page)"
          v-for="page in range" @click.prevent="gotoPage(page)">
          {{ page }}
      </button>
      <button type="button" class="btn btn-default"
          :disabled="processing" @click.prevent="gotoPage(lastPage)">
          Last
      </button>
  </div>
</div>
</template>

<script>
/**
 * Neat little Pagination component referenced from
 * http://fareez.info/blog/pagination-component-using-vuejs/
 */
export default {
    props: {
      currentPage: {
          type: Number,
          required: true
      },
      itemsPerPage: {
          type: Number,
          required: true
      },
      totalPages: Number,
      totalItems: Number,
      visiblePages: {
          type: Number,
          default: 5,
          coerce: (val) => parseInt(val)
      },
      processing: Boolean
    },
    data() {
        return {}
    },
    methods: {
        activePageClass(page) {
            return this.currentPage === page ? 'active' : ''
        },
        gotoPage(page) {
            this.$emit('goto-page', page)
        },
        lowerBound (num, limit) {
            return num >= limit ? num : limit
        }
    },
    computed: {
        lastPage() {
            if (!this.totalPages && !this.totalItems) {
              return 1
            }

            if (this.totalPages) {
                return this.totalPages
            } else {
              if (this.totalItems % this.itemsPerPage === 0) {
                  return this.totalItems / this.itemsPerPage
              } else {
                  return Math.floor(this.totalItems / this.itemsPerPage) + 1
              }
            }
        },
        range() {
            let range = []
            var start = 1

            if (this.currentPage - (this.visiblePages / 2) > 0) {
                if (this.currentPage + (this.visiblePages / 2) > this.lastPage) {
                    var start = this.lowerBound(this.lastPage - this.visiblePages + 1, 1)
                } else {
                    var start = Math.ceil(this.currentPage - this.visiblePages / 2)
                }
            }

            for (let i = 0; i < this.visiblePages && i < this.lastPage; i++) {
                range.push(start + i)
            }

            return range
        },
        showingFrom() {
            var response = (this.currentPage * this.itemsPerPage) - this.itemsPerPage + 1
            return isNaN(response) ? 0 : response
        },
        showingOf() {
            if (!this.totalItems && !this.totalPages) {
                return 1
            }

            if (this.totalItems) {
                return this.totalItems
            }

            return this.totalPages * this.itemsPerPage
        },
        showingTo() {
            if (this.currentPage === 1) {
                var response = this.itemsPerPage
            } else {
                var response = (this.currentPage * this.itemsPerPage) + this.itemsPerPage
            }

            return isNaN(response) ? 0 : response
        }
    }
}
</script>
