
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Third Party
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

// Application
@import "_applications";

#app {
  margin-bottom: 60px;
}

.processing {
  opacity: 0.65;
}

.index-actions {
  .row > div {
    padding-left: 1px;
    padding-right: 1px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.tab-pane {
  padding-top: 24px;
}
